<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
	<meta charset="{{ _charset }}">
	<title>{% block title %}{% endblock %}</title>
	{% block metas %}{% endblock %}
	{% block stylesheets %}{% endblock %}
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{% if (node is defined and node and node.hasPermission() == false) or app.user == null %}
		<style type="text/css">.container-center{padding-left:0;padding-top:50px;}.page-footer{padding-left:0;}</style>
	{% endif %}
</head>
<body>
	<div class="navbar navbar-fixed-top" id="navbar-top">
		<div class="navbar-inner">
			{% block brand %}{% endblock %}
			{% block searchbar %}{% endblock %}

			{% block breadcrumb %}{% endblock %}
			{% block user %}{% endblock %}
		</div>

	</div>
	{% if (node is defined and node and node.hasPermission()) and app.user %}
		<div class="node-actions">
			{% block node_actions %}{% endblock %}
			<div class="bottom-padding"></div>
		</div>
		<div class="navbar navbar-node-infos">
			<div class="navbar-inner navbar-flat">
				{% block nodeInfos %}{% endblock %}
			</div>
			{% block edit_toolbar %}{% endblock %}
		</div>
	{% endif %}
	<div class="container-center" id="main">
		<div class="container-fluid container-top">
			{% block messages %}{% endblock %}
		</div>
		{% block main %}{% endblock %}
	</div>
	<div class="page-footer" id="footer">
		<div class="container-fluid container-bottom">
			{% block footer %}{% endblock %}
		</div>
	</div>
	{% block javascripts %}{% endblock %}
</body>
</html>
