{% if pageCount > 1 %}
    <div class="pagination {% block paginationClass %}pagination-small pull-right{% endblock %}">
        {% set item = 'SidusBundle:Pagination:sliding_item.html.twig' %}
        <ul>
            {% include item with {name: 'first',
                    text: '1',
                    page: first is defined ? first : null,
                    clickable: first is defined and current != first
                }
            %}

            {% for page in pagesInRange %}
				{% if page not in [ 1, pagesInRange|last ] %}
				   {% include item %}
				{% endif %}
            {% endfor %}

            {%
                include item with {
                    name: 'last',
                    text: last,
                    page: last is defined ? last : null,
                    clickable: last is defined and current != last
                }
            %}
        </ul>
    </div>
{% endif %}
