{% extends global_template %}

{% block main %}
	<div class="container container-page">
		<div class="alert alert-error alert-block">
			<h1>Warning !</h1>
			<p>You're about to delete the following elements:</p>
		</div>
		<h2>{{ node }}</h2>
		{% include 'SidusBundle:Default:descendants.html.twig' with { 'children': node.children } only %}
		{{ form_start(form, {'attr': { 'class': 'form-horizontal form-fullscreen'} }) }}
			<div class="center">
				<a href="{{ path_to_node(node) }}" class="btn">{{ "form.cancel"|trans|desc("Cancel") }}</a>
				<button class="btn btn-primary btn-danger" type="submit">{{ "form.delete"|trans|desc("Delete") }}</button>
			</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
