<ul>
	{% for child in children %}
		<li><a href="{{ path_to_node(child) }}">{{ child }}</a>
			{% if child %}
				({{ child.type }})
			{% else %}
				<span class="label label-important">(No Object Associated)</span>
			{% endif %}
			{% if child.children %}
				{% include 'SidusBundle:Default:descendants.html.twig' with { 'children': child.children } only %}
			{% endif %}
		</li>
	{% endfor %}
</ul>