{% extends global_template %}

{% block edit_toolbar %}
	<div id="tinymce_toolbar"></div>
{% endblock %}

{% block main %}
	<div class="container container-page">
		{% block form_title %}{% endblock %}
		{{ form_start(form, {'attr': { 'class': 'form-horizontal form-fullscreen'} }) }}
			{% block form_widget %}
				{{ form_widget(form) }}
			{% endblock %}
			<div class="center">
				<a href="{{ path_to_node(node) }}" class="btn">{{ "form.cancel"|trans|desc("Cancel") }}</a>
				<button class="btn btn-info" type="submit" name="save" value="true">{{ "form.save"|trans|desc("Save") }}</button>
				<button class="btn btn-primary" type="submit">{{ "form.submit"|trans|desc("Submit") }}</button>
			</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
