<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="{{ asset('/bundles/sidus/css/feed.css') }}"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
	<channel>
		<title>{{ node }}</title>
		<link>{{ path_to_node(node) }}</link>
		{% if child.content is defined %}
			<description>{{ node.content }}</description>
			<content:encoded><![CDATA[{{ node.content|raw }}]]></content:encoded>
		{% endif %}
		<language>{{ node.lang }}</language>
		<lastBuildDate>{{ 'now'|date('%c') }}</lastBuildDate>
		{% for child in children %}
			{% if child.hasPermission() %}
				<item>
					<title>{{ child }}</title>
					<link>{{ path_to_node(child) }}</link>
					<pubDate>{{ child.revisionDate|date('%c') }}</pubDate>
					<dc:creator>{{ child.revisionBy }}</dc:creator>
					<guid isPermaLink="true">{{ url('sidus_node_action', { 'action':'show', 'node_id': child.id, 'lang': child.lang, 'version': child.revisionDate }) }}</guid>
					{% if child.content is defined %}
						<description><![CDATA[{{ child.content|raw }}]]></description>
						<content:encoded><![CDATA[{{ child.content|raw }}]]></content:encoded>
					{% endif %}
				</item>
			{% endif %}
		{% endfor %}
	</channel>
</rss>
