{% extends 'SidusBundle::base.html.twig' %}

{% block title %}Sidus{% endblock %}

{% block metas %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
{% endblock %}

{% block stylesheets %}
	{% stylesheets filter='cssrewrite,lessphp,?yui_css'
			'bundles/mopabootstrap/less/mopabootstrapbundle-fa.less'
			'@MopaBootstrapBundle/Resources/public/less/eyecon-bootstrap-datepicker.less'
			'@SidusBundle/Resources/public/css/country-flags.css'
			'@SidusBundle/Resources/public/css/custom.css'
		%}
	   <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
	{% endstylesheets %}
{% endblock %}

{% block brand %}<a class="brand" href="{{ path('sidus_node_action') }}">Sidus</a>{% endblock %}

{% block searchbar %}
	<form class="navbar-search form-search pull-left" action="?search" method="get">
		<div class="input-append">
			<input type="text" name="searchtext" class="span2 search-query" placeholder="Search">
			<button type="submit" class="btn"><i class="icon-search"></i></button>
		</div>
		<input type="submit" class="hide">
	</form>
{% endblock %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		{% if ascendants is defined %}
			{% set stop_asc_disp = false %}
			{% for ascendant in ascendants %}
				{% if not ascendant.hasPermission() %}
					{% set stop_asc_disp = true %}
				{% endif %}
				{% if not stop_asc_disp %}
					<li><a href="{{ path_to_node(ascendant) }}">{{ ascendant }}</a> <span class="divider">/</span></li>
				{% endif %}
			{% endfor %}
		{% endif %}
		<li class="active"><a href="{{ path_to_node(node) }}">{{ node }}</a></li>
	</ul>
{% endblock %}

{% block user %}
	<ul class="nav pull-right">
		{% if app.user %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="hidden-phone">{{ app.user }}</span> <i class="icon-cog hidden-tablet hidden-desktop"></i><b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="{{ path_to_node(app.user) }}"><i class="icon-home"></i> {{ "menu.user.profile"|trans|desc("Profile") }}</a></li>
					<li><a href="{{ path_to_node(app.user, 'edit') }}"><i class="icon-cog"></i> {{ "menu.user.preferences"|trans|desc("Preferences") }}</a></li>
					<li class="divider"></li>
					<li><a href="{{ path('sidus_logout', {'node_id': node.id }) }}"><i class="icon-signout"></i> {{ "menu.user.logout"|trans|desc("Logout") }}</a></li>
				</ul>
			</li>
		{% else %}
			<li>
				<a href="{% if node is defined %}{{ path('sidus_login', {'node_id': node.id}) }}{% else %}{{ path('sidus_login') }}{% endif %}">
					{{ "menu.user.login"|trans|desc("Login") }} <i class="icon-signin"></i>
				</a>
			</li>
		{% endif %}
	</ul>
{% endblock %}

{% block node_actions %}
	<a class="node-icon">{% block icon_type %}<i class="icon-folder-open"></i>{% endblock %}</a>
	{% for actionButton in node.actions %}
		{% if not actionButton.requireUser or app.user %}
			<a {% if actionButton.name == action.name %}class="active"{% endif %} data-toggle="tooltip"
			   href="{{ path_to_node(node, actionButton.name) }}"
			   title="{{ "menu.node." ~ actionButton.name|trans }}"><i class="{{ actionButton.iconClass }}"></i></a>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block nodeInfos %}
	{% if node.hasPermission() %}
		<div class="btn-toolbar pull-right">
			{% for translation in translations %}
				{% if translation.lang == node.lang %}
					<a href="{{ path_to_node(node, 'show', {'lang': translation.lang }) }}" class="btn btn-mini disabled"><i class="flag-{{ translation.lang }} flag-white"></i></a>
				{% else %}
					<a href="{{ path_to_node(node, 'show', {'lang': translation.lang }) }}" class="btn btn-mini"><i class="flag-{{ translation.lang }}"></i></a>
				{% endif %}
			{% endfor %}
		</div>
		<p class="node-infos-line">
			<big class="node-title"> {{node}}</big>
			<span class="text-info">({{node.type}})</span>
			<small class="muted">{{ "infos.node.created_by"|trans|desc("Created by") }} <a href="{{ path_to_node(node.revisionby) }}">{{ node.revisionby }}</a> {{ node.revisionDate|datediff() }}</small>
			{% block description %}{% endblock %}
		</p>
	{% endif %}
{% endblock %}

{% block messages %}
	{% for name in ['error', 'warning', 'success', 'info'] %}
		{% for message in app.session.flashBag.get(name) %}
			<div class="alert alert-{{ name }}">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  {{ message }}
			</div>
		{% endfor %}
	{% endfor %}
{% endblock %}

{% block javascripts %}
	{% javascripts	'@SidusBundle/Resources/public/js/jquery-min.js'
					'@SidusBundle/Resources/public/js/bootstrap.min.js'
					'@SidusBundle/Resources/public/js/tinymce/jquery.tinymce.min.js'
					'@SidusBundle/Resources/public/js/tinymce/tinymce.min.js'
					'@MopaBootstrapBundle/Resources/public/js/*'
					'@SidusBundle/Resources/public/js/sidus-admin.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block error_back %}
	<div class="well">
		<p><a href="#" onclick="history.go(-1);return false;" class="btn btn-info">Go back</a> <a href="{{ path('sidus_node_action') }}" class="btn">Home</a> <a href="#" class="btn btn-warning pull-right">Report bug</a></p>
	</div>
{% endblock %}

