{% extends 'SidusBundle:Default:show.html.twig' %}

{% block main %}
	<div class="container-fluid">
		<h2>{{ node }}</h2>
		<h3>Version History</h3>
		<table class="table table-striped table-hover table-condensed">
			{% for i in range(0,1) %}
				<caption{% if i is odd %} class="caption-bottom"{% endif %}>
					{{ knp_pagination_render(versions, 'SidusBundle:Pagination:sliding.html.twig') }}
					<p class="infos muted pull-left">
						{{ "children.center.count"|transchoice(versions.getPaginationData.totalCount, {
								'%first%': versions.getPaginationData.firstItemNumber,
								'%last%': versions.getPaginationData.lastItemNumber
							})|desc("{0} No element|{1} One element|]1,Inf] Elements %first%-%last% of %count%") }}
					</p>
				</caption>
			{% endfor %}
			<thead>
				<tr>
					<th{% if versions.isSorted('n.id') %} class="sorted"{% endif %}><input type="checkbox" class="radio-condensed"/> {{ knp_pagination_sortable(versions, '#', 'n.id') }}</th>
					<th{% if versions.isSorted('o.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(versions, 'Title', 'o.title') }}</th>
					<th{% if versions.isSorted('o.lang') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(versions, 'Language', 'o.lang') }}</th>
					<th{% if versions.isSorted('o.type') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(versions, 'Type', 't.typeName') }}</th>
					<th class="hidden-phone{% if versions.isSorted('o.creationDate') %} sorted{% endif %}">{{ knp_pagination_sortable(versions, 'Creation', 'o.creationDate') }}</th>
					<th class="visible-desktop{% if versions.isSorted('o.revisionDate') %} sorted{% endif %}">{{ knp_pagination_sortable(versions, 'Revision', 'o.revisionDate') }}</th>
					<th class="hidden-phone">Revision by</th>
					<th class="actions">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for version in versions %}
					<tr>
						<td><input type="checkbox" class="radio-condensed"/> {{ version.id }}</td>
						<td><a href="{{ path_to_node(node, 'show', { 'version': version.id, 'lang': version.lang }) }}" class="block">{{ version }}</a></td>
						<td>{{ version.lang }}</td>
						<td>{{ version.type }}</td>
						<td class="hidden-phone"><time datetime="{{ version.creationDate|date('c') }}">{{ version.creationDate|date('d/m/Y') }}<span class="hidden-tablet"> {{ version.creationDate|date('H:i') }}</span></time></td>
						<td class="visible-desktop"><time datetime="{{ version.revisionDate|date('c') }}">{{ version.revisionDate|date('d/m/Y') }}<span class="hidden-tablet"> {{ version.revisionDate|date('H:i') }}</span></time></td>
						<td class="hidden-phone"><a href="{{ path_to_node(version.revisionBy) }}" class="block">{{ version.revisionBy }}</a></td>
						<td>
							<div class="btn-toolbar actions-condensed">
								<div class="btn-group">
									<a href="{{ path_to_node(node, 'show', { 'version': version.id, 'lang': version.lang }) }}" class="btn btn-mini" title="View"><i class="icon-search"></i></a>
									<a href="{{ path_to_node(node, 'delete', { 'version': version.id, 'lang': version.lang }) }}" class="btn btn-mini" title="Delete"><i class="icon-trash"></i></a>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
