<div class="btn-toolbar actions-condensed">
	<div class="btn-group">
		<a href="{{ path_to_node(node) }}" class="btn btn-mini" title="View"><i class="icon-search"></i></a>
		<a href="{{ path_to_node(node, 'edit') }}" class="btn btn-mini" title="Edit"><i class="icon-pencil"></i></a>
		{% if app.user %}
			<a href="{{ path_to_node(node, 'favorite') }}" class="btn btn-mini" title="Add to favorites"><i class="icon-star-empty"></i></a>
		{% endif %}
		<button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
			<i class="icon-wrench"></i> <span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right">
			<li><a href="{{ path_to_node(node, 'move') }}"><i class="icon-arrow-right"></i> Move</a></li>
			<li><a href="{{ path_to_node(node, 'link') }}"><i class="icon-share-alt"></i> Link</a></li>
			<li><a href="{{ path_to_node(node, 'copy') }}"><i class="icon-repeat"></i> Copy</a></li>
			<li><a href="{{ path_to_node(node, 'permissions') }}"><i class="icon-lock"></i> Permissions</a></li>
			<li class="divider"></li>
			<li><a href="{{ path_to_node(node, 'history') }}"><i class="icon-list"></i> History</a></li>
			<li><a href="{{ path_to_node(node, 'feed') }}"><i class="icon-signal"></i> Feed</a></li>
			<li class="divider"></li>
			<li class="disabled"><a href="{{ path_to_node(node, 'delete') }}"><i class="icon-trash icon-white"></i> Delete</a></li>
		</ul>
	</div>
</div>