{% extends global_template %}

{% block main %}
	<div class="container container-page">
		{% block form_title %}{% endblock %}
		{% if form.permissions|length > 0 or form.inheritPermissions is defined %}
			{{ form_start(form) }}
				<h3>Edit {{ node.type|lower }} permissions</h3>
				{% if form.inheritPermissions is defined %}
					<div class="well well-small">
						{{ form_widget(form.inheritPermissions) }}
						<p class="text-warning">Warning, if you choose to inherit permissions for the current node, only the "Owner" and "Admin" authorizations will be taken into account.</p>
					</div>
				{% endif %}
				{% if form.permissions|length > 0 %}
					<table class="table">
						<thead>
							<tr>
								<th class="span4">Entity</th>
								<th class="span1">Type</th>
								<th class="span1">Read</th>
								<th class="span1">Write</th>
								<th class="span1">Add</th>
								<th class="span1">Delete</th>
								<th class="span1">Owner</th>
								{% if isAdmin %}
									<th class="span1">Admin</th>
								{% endif %}
								<th class="span2">Action</th>
							</tr>
						</thead>
						<tbody class="table-align-middle">
							{% for permission in form.permissions %}
								{% include 'SidusBundle:Form:permissionForm.html.twig' with { 'permission': permission, 'isAdmin': isAdmin } only %}
							{% endfor %}
						</tbody>
					</table>
				{% else %}
					{% do form.permissions.setRendered %}
				{% endif %}
				{{ form_errors(form) }}
				<div class="center">
					<a href="{{ path_to_node(node) }}" class="btn">{{ "form.cancel"|trans|desc("Cancel") }}</a>
					<button class="btn btn-info" type="submit" name="save" value="true">{{ "form.save"|trans|desc("Save") }}</button>
					<button class="btn btn-primary" type="submit">{{ "form.submit"|trans|desc("Submit") }}</button>
				</div>
			{{ form_end(form) }}
		{% endif %}
		{% if new_permission_form is defined %}
			{{ form_start(new_permission_form) }}
				<h3>Add new permission</h3>
					<table class="table">
						<thead>
							<tr>
								<th class="span4">Entity</th>
								<th class="span1">Type</th>
								<th class="span1">Read</th>
								<th class="span1">Write</th>
								<th class="span1">Add</th>
								<th class="span1">Delete</th>
								<th class="span1">Owner</th>
								{% if isAdmin %}
									<th class="span1">Admin</th>
								{% endif %}
								<th class="span2">Action</th>
							</tr>
						</thead>
						<tbody class="table-align-middle">
							{% include 'SidusBundle:Form:permissionForm.html.twig' with { 'permission': new_permission_form, 'isAdmin': isAdmin } only %}
						</tbody>
					</table>
			{{ form_end(new_permission_form) }}
		{% endif %}
	</div>
{% endblock %}
