<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
	<meta charset="{{ _charset }}">
	<title>{% block title %}{% endblock %}</title>
	{% block metas %}{% endblock %}
	{% stylesheets filter='cssrewrite,lessphp,?yui_css'
			'bundles/mopabootstrap/less/mopabootstrapbundle-fa.less'
			'@MopaBootstrapBundle/Resources/public/less/eyecon-bootstrap-datepicker.less'
			'@SidusBundle/Resources/public/css/country-flags.css'
			'@SidusBundle/Resources/public/css/custom.css'
		%}
	   <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
	{% endstylesheets %}
	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container-page" id="main">
		<div class="container container-page">
			<h1>{{ node.title }}</h1>
			<div class="content">{{ node.content|raw }}</div>
		</div>
	</div>
</body>
</html>
