{% extends global_template %}

{% block main %}
	<div class="container container-page">
		<h2>{{ node.type }} {{ node }}</h2>
		<div class="form-horizontal">
			{% for meta in node.metadata %}
				<div class="control-group">
					<label class="control-label">{{ meta.label }}</label>
					<div class="controls">
						<p class="value">
							{% if meta.type == 'node' %}
								<a href="{{ path_to_node(meta.value) }}">{{ meta.value }}</a>
							{% else %}
								{{ meta|nl2br }}
							{% endif %}
						</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
