{% extends global_template %}

{% block main %}
	<div class="container container-page">
		<h2>Select the type of content you want to add</h2>
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs" id="type_selector">
				{% for type in types %}
					<li{% if loop.first %} class="active"{% endif %}><a href="#type_{{ type.id }}" data-toggle="tab">{{ type }}</a></li>
				{% endfor %}
			</ul>
			<div class="tab-content">
				{% for type in types %}
					<div class="tab-pane{% if loop.first %} active{% endif %}" id="type_{{ type.id }}">
						<h3>{{ type }}</h3>
						<p>Lorem ipsum dolor sit amet.</p>
						<a class="btn btn-primary" href="{{ path_to_node(node, 'add', { 'type': type.typeName|lower }) }}">Select</a>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="center">
			<a href="{{ path_to_node(node) }}" class="btn">{{ "form.cancel"|trans|desc("Cancel") }}</a>
		</div>
	</div>
{% endblock %}
