{% extends 'SidusBundle:Default:edit.html.twig' %}

{% block form_widget %}
	{{ form_errors(form) }}
	{{ form_errors(form.title) }}
	<h1>{{ form_widget(form.title) }}</h1>
	<div class="row-fluid">
		<div class="span8">
			{{ form_errors(form.content) }}
			{{ form_widget(form.content) }}
		</div>
		<div class="span4">
			<h3>Note</h3>
			<p>You can edit the page by clicking on the different elements.</p>
			<p>This text is meant to be placed in a node inside the type to explain how this type works.</p>
			<a href="#">Popup Help</a>
		</div>
		<fieldset>
			<legend>Optional Metadatas</legend>
			{{ form_rest(form) }}
		</fieldset>
	</div>
{% endblock %}
