{% extends global_template %}

{% block main %}
	<div class="container container-page">
		<h1>{{ node.title }}</h1>
		<div class="row-fluid">
			<div class="span8">
				<div class="content">{{ node.content|raw }}</div>
			</div>
			<div class="span4">
				{% if node.author %}
					<div class="media">
						<a class="pull-left" href="{{ path_to_node(node.author) }}">
							<img class="media-object" src="http://placehold.it/64x64">
						</a>
						<div class="media-body">
							<h4 class="media-heading"><a href="{{ path_to_node(node.author) }}">{{ node.author }}</a></h4>
							{{ node.author.profile }}
						</div>
					</div>
				{% endif %}
				{% if translations|length > 1 or children|length > 0 %}
					<ul class="nav nav-list well" style="margin-top:1em;">
						{% if translations|length > 1 %}
							<li class="nav-header">Translations</li>
							{% for translation in translations %}
								<li{% if translation == node %} class="active"{% endif %}><a href="{{ path_to_node(translation, 'show', { 'lang': translation.lang }) }}"><i class="icon flag-{{ translation.lang }}"></i> {{ translation }}</a></li>
							{% endfor %}
						{% endif %}
						{% if children|length > 0 %}
							<li class="nav-header">Pages</li>
							{% for child in children %}
								<li><a href="{{ path_to_node(child) }}">{{ child }}</a></li>
							{% endfor %}
						{% endif %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{% for tag in node.tags|split(',') %}
		<a href="{{ path('sidus_search', { 'tags': tag|trim }) }}">{{ tag|trim}}</a>
	{% endfor %}
{% endblock %}