{% extends 'SidusBundle:Page:edit.html.twig' %}

{% block main %}
	<div class="row-fluid">
		<div class="span6">
			{% include 'SidusBundle:Page:show.html.twig' with { 'global_template': 'SidusBundle::empty.html.twig' }%}
		</div>
		<div class="span6">
			{% if form is defined %}
				{{ parent() }}
			{% endif %}
		</div>
	</div>
{% endblock %}
