{% extends global_template %}

{% block main %}
	<div class="container" style="width:600px;">
			<form class="form-horizontal" action="{{ path('login_check', { 'node_id': node.id }) }}" method="post">
				<fieldset>
					<legend>{{ "login.legend"|trans|desc("User Login") }}</legend>
					<div class="control-group">
						<label for="username" class="control-label">{{ "login.username"|trans|desc("Username") }}</label>
						<div class="controls">
							<input type="text" id="username" name="_username" value="{{last_username}}" tabindex="1" placeholder="{{ "login.username"|trans|desc("Username") }}"/>
						</div>
					</div>
					<div class="control-group">
						<label for="password" class="control-label">{{ "login.password"|trans|desc("Password") }}</label>
						<div class="controls">
							<input type="password" id="password" name="_password" required="required" tabindex="2" placeholder="{{ "login.password"|trans|desc("Password") }}"/>
						</div>
					</div>
					<input type="hidden" id="token" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</fieldset>
				<div class="center">
					<a href="{{ path('sidus_node_action', { 'action': 'show', 'node_id': node.id }) }}" class="btn">Cancel</a>
					<button type="submit" class="btn">{{ "login.connexion"|trans|desc("Connexion") }}</button>
				</div>
			</form>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>document.getElementById('{% if last_username %}password{% else %}username{% endif %}').focus()</script>
{% endblock %}