{% extends global_template %}

{% block description %}
	<i class="icon-chevron-right"></i>&nbsp;<span>{{ node.content }}</span>
{% endblock %}

{% block main %}
	<div class="container-fluid">
		<div class="btn-toolbar pull-right">
			<button class="btn" title="Thumbnail view"><i class="icon-th"></i></button>
			<button class="btn" title="Preview view"><i class="icon-th-list"></i></button>
			<button class="btn disabled" title="List view"><i class="icon-list-alt"></i></button>
		</div>
		<form class="form-search filter-form pull-left" action="?filter" method="get">
			<input type="text" name="filter" placeholder="Filter by title">
			<input type="text" name="filter" placeholder="Filter by keyword">
			<div class="btn-group">
				<button type="submit" class="btn" title="Filter"><i class="icon-filter"></i></button>
				<button type="reset" class="btn" title="Clear filters"><i class="icon-remove"></i></button>
				<button class="btn" title="Save search"><i class="icon-pushpin"></i></button>
			</div>
			<input type="submit" class="hide">
		</form>
		<table class="table table-striped table-hover table-condensed">
			{% for i in range(0,1) %}
				<caption{% if i is odd %} class="caption-bottom"{% endif %}>
					{{ knp_pagination_render(children, 'SidusBundle:Pagination:sliding.html.twig') }}
					<div class="btn-toolbar actions pull-left">
						<div class="btn-group">
							<button class="btn btn-small" title="Move"><i class="icon-arrow-right"></i></button>
							<button class="btn btn-small" title="Copy"><i class="icon-copy"></i></button>
							<button class="btn btn-small" title="Add to favorites"><i class="icon-star-empty"></i></button>
							<button class="btn dropdown-toggle btn-small" data-toggle="dropdown">
								<i class="icon-wrench"></i> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right">
								<li><a href="#"><i class="icon-share-alt"></i> Link</a></li>
								<li class="divider"></li>
								<li><a href="#"><i class="icon-list"></i> History</a></li>
								<li><a href="#"><i class="icon-signal"></i> Feed</a></li>
								<li class="divider"></li>
								<li class="btn-danger"><a href="#"><i class="icon-trash"></i> Delete</a></li>
							</ul>
						</div>
					</div>
					<p class="infos muted pull-left">
						{{ "children.center.count"|transchoice(children.getPaginationData.totalCount, {
								'%first%': children.getPaginationData.firstItemNumber,
								'%last%': children.getPaginationData.lastItemNumber
							})|desc("{0} No element|{1} One element|]1,Inf] Elements %first%-%last% of %count%") }}
					</p>
				</caption>
			{% endfor %}
			<thead>
				<tr>
					<th{% if children.isSorted('n.id') %} class="sorted"{% endif %}><input type="checkbox" class="radio-condensed"/> {{ knp_pagination_sortable(children, '#', 'n.id') }}</th>
					<th{% if children.isSorted('o.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(children, 'Title', 'o.title') }}</th>
					<th{% if children.isSorted('o.type') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(children, 'Type', 't.typeName') }}</th>
					<th class="hidden-phone">Creation</th>
					<th class="visible-desktop">Revision</th>
					<th class="hidden-phone">Revision by</th>
					<th class="actions">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for child in children %}
					<tr>
						<td><input type="checkbox" class="radio-condensed"/> {{ child.id }}</td>
						<td><a href="{{ path_to_node(child) }}" class="block">{{ child }}</a></td>
						<td>{{ child.type }}</td>
						<td class="hidden-phone"><time datetime="{{ child.revisionDate|date('c') }}">{{ child.revisionDate|date('d/m/Y') }}<span class="hidden-tablet"> {{ child.revisionDate|date('H:i') }}</span></time></td>
						<td class="visible-desktop"><time datetime="{{ child.revisionDate|date('c') }}">{{ child.revisionDate|date('d/m/Y') }}<span class="hidden-tablet"> {{ child.revisionDate|date('H:i') }}</span></time></td>
						<td class="hidden-phone"><a href="{{ path_to_node(child.revisionBy) }}" class="block">{{ child.revisionBy }}</a></td>
						<td>{% include 'SidusBundle:Default:node_actions_condensed.html.twig' with { 'node': child } %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
