{% extends 'SidusBundle:Exception:error404.html.twig' %}

{% block main %}
	<div class="container-fluid">
		<div class="alert alert-error alert-block">
			<h1>401 ERROR</h1>
			<p>{{ status_text }}</p>
		</div>
		{% block error_back %}{{ parent() }}{% endblock %}
	</div>
{% endblock %}