{% extends global_template %}

{% block breadcrumb %}
	<ul class="breadcrumb">
		<li><a href="{{ path('sidus_show_node') }}">Home</a></li>
	</ul>
{% endblock %}

{% block container_west %}
{% endblock %}

{% block container_east %}
{% endblock %}

{% block main %}
	<div class="container-fluid">
		<div class="alert alert-error alert-block">
			<h1>404 ERROR</h1>
			<p>{{ status_text }}</p>
		</div>
	{% block error_back %}{{ parent() }}{% endblock %}
	</div>
{% endblock %}