[class^="flag-"],[class*=" flag-"]{display:inline-block;width:16px;height:11px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("/bundles/sidus/img/country-flags.png");background-position:14px 14px;background-repeat:no-repeat;margin-top:2px;}
.flag-white,.nav-pills>.active>a>[class^="flag-"],.nav-pills>.active>a>[class*=" flag-"],.nav-list>.active>a>[class^="flag-"],.nav-list>.active>a>[class*=" flag-"],.navbar-inverse .nav>.active>a>[class^="flag-"],.navbar-inverse .nav>.active>a>[class*=" flag-"],.dropdown-menu>li>a:hover>[class^="flag-"],.dropdown-menu>li>a:hover>[class*=" flag-"],.dropdown-menu>.active>a>[class^="flag-"],.dropdown-menu>.active>a>[class*=" flag-"],.dropdown-submenu:hover>a>[class^="flag-"],.dropdown-submenu:hover>a>[class*=" flag-"]{background-image:url("/bundles/sidus/img/country-flags-white.png");}
.btn-mini [class^="flag-"]{margin-top:1px;}
.flag-en{background-position:-284px -173px;}
.flag-fr{background-position:-228px -173px;}