html, body{padding:0;margin:0;height:100%;min-width:330px;}

.center{text-align:center;}

.navbar .breadcrumb{position:relative;left:0;display:block;float:left;margin:0 10px 0 0;padding:10px;background:none;}
.navbar .breadcrumb > li{display:block;float:left;padding-left: 5px;}
.navbar .breadcrumb > li.active{font-weight:bold;}

#navbar-top .navbar-inner{position:relative;}
.navbar-fixed-top .brand{margin-left:0px;padding:9px 10px 0;}
.navbar-flat{background:#eee;min-height:35px;padding-left:36px;border-radius:0;border-right:none;border-left:none;}
.navbar-flat .btn-toolbar{margin-top:2px;margin-bottom:0;}
#tinymce_toolbar{height:35px;padding-left:35px;margin-top:-35px;}
div.mce-tinymce-inline{width:auto !important;border-radius:0;border-right:none;border-left:none;}
.text-editable, .html-editable{outline:1px #ccc dashed;outline-offset:4px;min-height:10em;}
.text-editable.mce-edit-focus, .html-editable.mce-edit-focus{outline:1px #000 dashed;}
h1 input.inline-header{border:none;width:100% !important;color:inherit;display:block;font-size:inherit;margin:-2px 0 -3px;padding:0;line-height:inherit;height:auto;font-weight:inherit;}

.container-center{padding-left:36px;}
.container-page{max-width:940px;width:auto;padding:5px 20px;}
.container-top{margin-top:20px;}

.navbar-node-infos{padding-top:40px;margin-bottom:0;}
.node-infos-line{margin:6px 0 3px 6px;line-height:24px;}

.node-actions{height:100%;padding:0;width:36px;background:#222;color:#eee;font-size:24px;text-align:center;position:absolute;z-index:1000;}
.node-actions a{color:#eee;display:block;padding:4px 0 0;border-bottom:1px solid #333;line-height:29px;height:31px;background:#222;}
.node-actions a:hover{color:#eee;text-decoration:none;background:#555;}
.node-actions a.active{color:#aaa;text-decoration:none;background:#fff;}
.node-actions a.node-icon{background:#666;margin-top:41px;}
.node-actions .bottom-padding{height:55px;background:#222;}

.btn-toolbar.actions{margin:5px;text-align:left;}
.btn-toolbar.actions-condensed{margin:0;}
tr .btn-toolbar.actions-condensed{visibility:hidden;}
tr:hover .btn-toolbar.actions-condensed{visibility:visible;}
.actions-hover .btn-toolbar.actions-condensed{visibility:hidden;}
.actions-hover:hover .btn-toolbar.actions-condensed{visibility:visible;}
th.actions{width:10px;}
th a.sortable{color:inherit;}
td.small-actions{width:5px;}
td > a.expand{display:block;}
td.visible-desktop, th.visible-desktop{display:table-cell !important;}

.type-list{text-align:center;}
.type-list li{display:inline-block;margin:5px;}

#menu-node{float:right;}

caption .pagination{margin:5px;}
caption .infos{padding:3px;line-height:30px;margin:0;}
caption.caption-bottom{caption-side:bottom;}

.form-horizontal label:after{content:' :';}
.form-horizontal label.checkbox:after{content:none;}
input.radio-condensed{margin-top:-3px;}
form.form-fullscreen input[type=text], form.form-fullscreen textarea, form.form-fullscreen .uneditable-input, form.form-fullscreen .rich_textarea{width:96%;}
form.form-fullscreen textarea{resize:vertical;min-height:5em;}

.control-group p.value{font-weight:bold;margin:5px 0;}

.nav-nice li.active a{background:#0088cc;color:#fff;}
.nav-nice li.active:hover a{background:#45A2D1;color:#fff;}
.nav-nice li i.icon-chevron-right{visibility:hidden;float:right;margin-top:3px;margin-right:-4px;}
.nav-nice li:hover i.icon-chevron-right{visibility:visible;}
.nav-nice li.active i.icon-chevron-right{visibility:visible;}

a:hover [class^="icon-"], a:hover [class*=" icon-"]{text-decoration:none;}

.filter-form{margin-top:10px;margin-bottom:10px;}

.block{display:block;}

table.table-align-middle td, table .table-align-middle td{vertical-align:middle;}

.page-footer{position:fixed;z-index:1000;bottom:0;right:0;width:100%;background:#222;text-align:center;}

pre.xdebug-var-dump{position:relative;z-index:10000;}

@media (max-width:979px){
	.navbar-fixed-top{margin-bottom:0;}
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{padding:0;}
	td.visible-desktop, th.visible-desktop{display:none !important;}
}

@media (max-width: 767px){
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {margin:0;}
	.navbar i.hidden-desktop{display:inline-block !important;}
	.navbar .span2.search-query{width:100px;}
	#menu-node{margin:5px 0;}
	.node-infos-line span.visible-phone{display:inline !important;}
}

