channel link,channel language,channel copyright,channel managingEditor,channel webMaster,channel docs,channel lastBuildDate{display:none;}
rss{display:block;width:100%;padding:0;margin:0;text-align:center;font-family:"Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;font-size:12px;}
channel{display:block;width:18cm;margin:20px auto 20px;text-align:left;}
channel *{display:none;}
channel description{display:block;float:right;font-weight:bold;margin:0.5em;}
channel item{background-color:#ffe;border:1px solid #333;clear:both;display:block;padding:0.5em;margin:1em;}
channel item title{background-color:#333;border-bottom-width:0;color:#FFF;display:block;font-size:110%;font-weight:bold;margin:0;padding:0.3em 0.5em;}
channel item description{display:block;float:none;padding:0.2em 0.5em 0.4em;color:black;font-size:100%;font-weight:normal;}
channel item link{color:#666;display:inline;font-size:86%;padding:0 0.5em;}
channel item pubDate{color:#666;display:block;font-size:86%;padding:0 0.5em;}
channel item dc{display:block;}