
{% block richtextarea_widget %}
	{% spaceless %}
		<textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
	{% endspaceless %}
{% endblock richtextarea_widget %}

{% block inlineeditable_widget %}
	{% spaceless %}
		<{{ tag }} id="{{ full_name }}" name="{{ id }}"{% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
		{% for attrname, attrvalue in attr %}
			{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}
		{% endfor %}>{{ value|raw }}</{{ tag }}>
	{% endspaceless %}
{% endblock inlineeditable_widget %}