{% set disabled = not isAdmin and permission.vars.value.authorizations.isAdmin() %}
<tr{% if disabled %} class="error"{% endif %}>
	<td{% if not disabled %} rowspan="2"{% endif %}>
		{% if permission.entity is defined %}
			{{ form_widget(permission.entity) }}
		{% else %}
			{% set entity = permission.vars.value.entity %}
			<a href="{{ path_to_node(entity) }}">{{ entity }}</a>
		{% endif %}
	</td>
	{% if disabled %}
		<td colspan="7">
			<span class="text-error">Edition of this permission is disabled because the user has higher rights than you.</span>
			{% do permission.setRendered %}
		</td>
	{% else %}
		<td>Allow</td>
		<td>{{ form_widget(permission.allowRead) }}</td>
		<td>{{ form_widget(permission.allowWrite) }}</td>
		<td>{{ form_widget(permission.allowAdd) }}</td>
		<td>{{ form_widget(permission.allowDelete) }}</td>
		<td>{{ form_widget(permission.allowOwner) }}</td>
		{% if isAdmin %}
			<td>{{ form_widget(permission.allowAdmin) }}</td>
		{% endif %}
		<td rowspan="2">{{ form_widget(permission.id) }}</td>
	{% endif %}
</tr>
{% if not disabled %}
	<tr>
		<td>Forbid</td>
		<td>{{ form_widget(permission.forbidRead) }}</td>
		<td>{{ form_widget(permission.forbidWrite) }}</td>
		<td>{{ form_widget(permission.forbidAdd) }}</td>
		<td>{{ form_widget(permission.forbidDelete) }}</td>
		<td>{{ form_widget(permission.forbidOwner) }}</td>
		{% if isAdmin %}
			<td>{{ form_widget(permission.forbidAdmin) }}</td>
		{% endif %}
	</tr>
{% endif %}